.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 100%;
  padding: 1rem 0;

  background-color: aquamarine;

  span {
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;

    a {
      text-decoration: none;
    }
  }
}
