.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  padding: 1rem auto;
  border-radius: var(--border-radius);
  background-color: var(--first-color);

  span {
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--third-color);
    a {
      text-decoration: none;
      color: var(--fourth-color);
    }
  }
}
