@layer reset, theme;

@layer reset {
  *,
  *::before,
  **::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  img,
  video,
  canvas,
  iframe {
    max-width: 100%;
    display: block;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
  }
}

@layer theme {
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--fourth-color);
  }
}

:root {
  --first-color: #1d3557;
  --second-color: #457b9d;
  --third-color: #a8dadc;
  --fourth-color: #f1faee;
  --fifth-color: #e63946;
  --border-radius: 1rem;
}

/*
:root {
  --container-width: 70 rem;
  --container-padding: 2rem;
  --header-color: white;
} */
/*
@media screen and (min-width: 60rem) {
  :root {
    --container-padding: 4rem;
  }
} */
